{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block content %}
<a id="repo" type="button" class="btn btn-danger" href="https://www.savethechildren.org/us/where-we-work/ukraine">#StopWarInUkraine! Save the Children</a>
<br>
<br>
<a id="repo" type="button" class="btn btn-success" href="{% url 'profile' %}">Upload a Project</a>
<br>
<br>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><span class="material-icons-outlined">
                    Design
                </span></h5>
                <p class="card-text">
                    Web design refers to the design of websites that are displayed on the internet. It usually refers to the user experience aspects of website development rather than software development.
                </p>
                
            </div>
        </div>

    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><span class="material-icons-outlined">
                    Usability
                </span></h5>
                <p class="card-text">
                    Usability is a measure of how well a specific user in a specific context can use a product/design to achieve a defined goal effectively, efficiently and satisfactorily.
                </p>
                
            </div>
        </div>

    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><span class="material-icons-outlined">
                    content
                </span></h5>
                <p class="card-text">
                    Web content is the text, visual or audio content that is made available online and user encountered as part of the online usage and experience on websites. It may include text, images, sounds and audio, online videos, among other items placed within web pages.
                </p>
            
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" >
            <div class="card-body">
                <h5 class="card-title"><span class="material-icons-outlined">
                    Relevance
                </span></h5>
                <p class="card-text">
                    A well-designed website can help you form a good impression on your prospective customers. It can also help you nurture your leads and get more conversions. But, more importantly, it provides good user experience and helps your website visitors access and navigate your website with ease
                </p>
        
            </div>
        </div>
    </div>
  </div>

  <br>
  <div class="container">
    <div class="row">


        {% for project in project %}
        <div class="col-md-4" style="display: flex;">
            <div class="coupon my-2" style="width: 100%;">
                <div class="mylogo">
                    <h3>{{project.owner}}</h3>
                </div>
                <div class="mylogo" style="background-color:white">
                    <h2><b>{{project.name}}</b></h2>
                    <p>{{project.description}}</p>
                </div>
                <div class="mylogo">
                    <p class="expire">Published: <span style="color: black;">{{project.pub_date}}</span></p>
                    <a type='button' class="btn btn-outline-info btn-sm" href="{{project.link}}">View
                        Project</a>
                
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
